.text{
  line-height: 1.5;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  color: $base__font--color;
}

h1 {
  @extend .text;
  font-size: 2.8vmin;
  font-weight: bold;
  color: #CC7832;
}

h1:after {
  font-weight: normal;
  content: " {";
  color: $base__font--color;
}

h2 {
  @extend .text;
  font-size: 2.8vmin;
  font-style: italic;
  color: #EFC090;
}

h2:after {
  font-weight: normal;
  content: " {";
  font-style: normal;
  color: $base__font--color;
}

//h3 {
//  @extend .text;
//  font-size: 4.8vmin;
//}
//
//h4 {
//  @extend .text;
//  font-size: 3.2vmin;
//}

p {
  @extend .text;
  font-size: 2.8vmin;
  margin-top: 0;
  margin-left: 2.8vmin;
}

p:after {
  display: block;
  margin-left: -2.8vmin;
  content: "}";
}
